{% extends 'navbar/navbar1.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{% block body %}
<div class="container text-center">
  <div class="row">
    <div class="col-sm-5 col-md-6"><img src = "{% static 'images/person-icon.png' %}" alt="My image" width="400" height="300" />
      <h2>TEJASWINI REDDY</h2>
      <p>PHONE NUMBER : 123-234-7890</p><p> MAIL: tejaswinireddy07@gmail.com</p>
    </div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0"><img src = "{% static 'images/person-icon.png' %}" alt="My image" width="400" height="300"/>
      <h2>SOPHIYA SYED</h2>
      <p>PHONE NUMBER : 786-234-7890</p><p> MAIL: syedsophiya2007@gmail.com</p></div>
  </div>
</div>
{% endblock %}
</body>
</html>